page-contact {
    a{
        color: #000000;
        text-decoration: none;
        font-size: 1.5em;
    }
    ion-list ion-icon{
        color: #55acee;
    }
    ion-fab{
        top: -10%;
        height: auto;
    }
}
