page-attachments {
    ion-toolbar{
        font-size: 1.0em;
    }
    a{
        color: cyan;
        text-decoration: none;
        font-size: 1.0em;
        margin-left: 10%;
    }
    ion-item ion-title{
        border-bottom: 2px;
    }
}
